In [1]:
# Dependencies

import pandas as pd
import csv
import import_ipynb as ipynb
from Attendance_Part1 import ATTurlList, yearList, STurlList

importing Jupyter notebook from Attendance_Part1.ipynb

In [2]:
info = []
x = 0

for i in ATTurlList:
    tables = pd.read_html(i, header=[1])
    df = tables[0]
    A = df[['TEAM','AVG']]
    CSV = pd.read_csv(f'./csv/STdf4{yearList[x]}.csv')
    CSV.rename(columns={'Team': 'TEAM'}, inplace=True)
    dfJ = pd.merge(A,CSV,on='TEAM')
    dfJ['Year']=yearList[x]
    dfJ['SeasonPtsRank'] = dfJ['PTS'].rank(method='dense', ascending = False).astype(int)
    info.append(dfJ)
    x+=1

frame = pd.concat(info, axis=0, ignore_index=True)
frame.head(5)

           TEAM    AVG  PTS  Year  SeasonPtsRank
0      Montreal  20672   77  2003             16
1       Detroit  20058  110  2003              3
2  Philadelphia  19325  107  2003              5
3     St. Louis  18570   99  2003              8
4        Dallas  18532  111  2003              2

In [3]:
frame['AVG'] = pd.to_numeric(frame['AVG'],errors='coerce')
frame['PTS'] = pd.to_numeric(frame['PTS'],errors='coerce')
frame['Year'] = pd.to_numeric(frame['Year'],errors='coerce')
frame['SeasonPtsRank'] = frame['SeasonPtsRank'].apply(np.int64)

frame.dtypes

TEAM             object
AVG               int64
PTS               int64
Year              int64
SeasonPtsRank     int64
dtype: object

In [4]:
frame.to_csv(f'ATTfullData.csv', index=False)